html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

div {
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
}

.text {
  text-align: left;
}

img {
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
}

h2 {
  display: inline-block;
  margin-top: 0;
}

p {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 1em;
  line-height: 1.5;

}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.4em 0.75em .5em;
  border: 3px solid #333;
  color: #333;
  border-radius: 8px;
}

.btn:hover {
  background-color: #666;
  color: #f2f2f2;
}
